<div class="printButtons">
    <button class="btn btn-primary" onclick="printForm()" id="printV1">Print</button>
</div>
<div id="printingForm">
    <div class="printHeaderDiv">
        <div class="pCompanyTitle">
            GLOBAL WELD MANAGEMENT
        </div>
        <div class="pCompanyAddress">
            <p>@ngwmapp.Resources.Resources.cFATwo</p>
            <p>60143, @ngwmapp.Resources.Resources.cFAThree</p>
            <p>+1 (847) 250-5240</p>
        </div>
    </div>
    <div class="cformHeading">
        <h2 style="font-weight:bold;">@ngwmapp.Resources.Resources.cFormTitle!</h2>
        <p>@ngwmapp.Resources.Resources.cFormDes</p>
    </div>
    <div class="formDetails">
        <div class="Format">
            <label>@ngwmapp.Resources.Resources.cFName:</label>
            <hr class="dotted-line">
        </div>
        <div class="Format">
            <label>@ngwmapp.Resources.Resources.cFCompany:</label>
            <hr class="dotted-line">
        </div>
        <div class="Format">
            <label>@ngwmapp.Resources.Resources.cFEmail:</label>
            <hr class="dotted-line">
        </div>
        <div class="Format">
            <label>@ngwmapp.Resources.Resources.CFPhone:</label>
            <hr class="dotted-line">
        </div>
        <div class="Format">
            <label>@ngwmapp.Resources.Resources.cFSubject:</label>
            <hr class="dotted-line">
        </div>
        <div class="Format">
            <label>@ngwmapp.Resources.Resources.cFMessage:</label>
            <hr class="dotted-line" style="margin-bottom: 0;">
        </div>
        <div>
            <hr class="dotted-line">
            <hr class="dotted-line">
            <hr class="dotted-line">
            <hr class="dotted-line">
            <hr class="dotted-line">
            <hr class="dotted-line">
            <hr class="dotted-line">
            <hr class="dotted-line">
            <hr class="dotted-line">

        </div>
    </div>
    <div class="printFooterDiv">
        <div class="footerWebsiteLink">
            <img src="~/images/pwww.png" alt="webiste image"><a>https://www.gwmapp.com</a>
        </div>
        <div class="footerSocialLinks">
            <a><img src="~/images/pfacebook.png" alt="facebook image">www.facebook.com/gwmapp</a>
            <a><img src="~/images/ptwitter.png" alt="twitter image">www.twitter.com/gwmapp</a>
            <a><img src="~/images/plinkedin.png" alt="linkedin image">www.linkedin.com/gwmapp</a>
        </div>

    </div>
</div>
<div class="cForm">
    <form asp-action="SubmitForm" asp-controller="Contactform" method="post">
        <div class="cformHeading">
            <h2 style="font-weight:bold;">@ngwmapp.Resources.Resources.cFormTitle !</h2>
            <p>@ngwmapp.Resources.Resources.cFormDes</p>
        </div>
        <div class="cDetails">
            <div class="form-group">
                <label class="form-label">@ngwmapp.Resources.Resources.cFName<span class="Asterix">*</span></label>

                <input class="form-control" placeholder="@ngwmapp.Resources.Resources.cFNameP" required>
            </div>
            <div class="form-group">
                <label class="form-label">@ngwmapp.Resources.Resources.cFCompany<span class="Asterix">*</span></label>
                <input class="form-control" placeholder="@ngwmapp.Resources.Resources.cFCompanyP" required>
            </div>
        </div>
        <div class="cContact">
            <div class="form-group">
                <label class="form-label">@ngwmapp.Resources.Resources.cFEmail<span class="Asterix">*</span></label>
                <input class="form-control" placeholder="@ngwmapp.Resources.Resources.CFEmailP" required>
            </div>
            <div class="form-group">
                <label class="form-label">@ngwmapp.Resources.Resources.CFPhone<span class="Asterix">*</span></label>

                <input class="form-control" placeholder="@ngwmapp.Resources.Resources.cFPhoneP" required>
            </div>
        </div>
        <div class="i form-group">
            <label class="form-label">@ngwmapp.Resources.Resources.cFSubject<span class="Asterix">*</span></label>
            <input class="form-control" placeholder="@ngwmapp.Resources.Resources.cFSubjectP" required>
        </div>
        <div class="i form-group">
            <label class="form-label">@ngwmapp.Resources.Resources.cFMessage<span class="Asterix">*</span></label>
            <textarea class="form-control" placeholder="@ngwmapp.Resources.Resources.cFMessageP" required></textarea>


        </div>
        <div class="cSubmit">
            <div class="cSubmitButton">
                <button type="submit" class="btn btn-primary">@ngwmapp.Resources.Resources.cFButton</button>
            </div>
            <div class="cAddress">
                <h5>@ngwmapp.Resources.Resources.cFAOne</h5>
                <h7>Global Weld Management</h7>
                <h7>@ngwmapp.Resources.Resources.cFATwo 60143</h7>
                <h7>@ngwmapp.Resources.Resources.cFAThree</h7>
                <h7>+1 (847) 250-5240</h7>
            </div>
        </div>
    </form>
</div>
<script>
    function printForm() {
        window.print();
    }
</script>