<div class="homeImage">
    <img src="~/images/homeImage.png" class="d-block w-100 customizeImage" alt="welding Image">
</div>
<div class="caContentDivs">
    <div class="caContent">
        <h2>@ngwmapp.Resources.Resources.CATitle</h2>
        <p>@ngwmapp.Resources.Resources.CAPara</p>

    </div>
    <div class="caImagesDiv">
        <div class="card" onmouseover="hoverEffect(this)" onmouseout="normalEffect(this)">
            <img src="~/images/advantages.webp" alt="sample image">
            <div class="overlay-text">@ngwmapp.Resources.Resources.CAOneSub</div>
            <div class="imageInfo">
                <h6>> @ngwmapp.Resources.Resources.CAOneSubOne</h6>
                <h6>> @ngwmapp.Resources.Resources.CAOneSubTwo</h6>
                <h6>> @ngwmapp.Resources.Resources.CAOneSubThree</h6>
                <h6>> @ngwmapp.Resources.Resources.CAOneSubFour</h6>
            </div>
        </div>
        <div class="card" onmouseover="hoverEffect(this)" onmouseout="normalEffect(this)">
            <img src="~/images/enhanceClarity.png" alt="sample image">
            <div class="overlay-text">@ngwmapp.Resources.Resources.CATwoSub</div>
            <div class="imageInfo">
                <h6>> @ngwmapp.Resources.Resources.CATwoSubOne</h6>
                <h6>> @ngwmapp.Resources.Resources.CATwoSubTwo</h6>
                <h6>> @ngwmapp.Resources.Resources.CATwoSubThree</h6>
                <h6>> @ngwmapp.Resources.Resources.CATwoSubFour</h6>
            </div>
        </div>
        <div class="card" onmouseover="hoverEffect(this)" onmouseout="normalEffect(this)">
            <img src="~/images/networkingAndTeams.webp" alt="sample image">
            <div class="overlay-text">@ngwmapp.Resources.Resources.CAThreeSub</div>
            <div class="imageInfo">
                <h6>> @ngwmapp.Resources.Resources.CAThreeSubOne</h6>
                <h6>> @ngwmapp.Resources.Resources.CAThreeSubTwo</h6>
                <h6>> @ngwmapp.Resources.Resources.CAThreeSubThree</h6>
                <h6>> @ngwmapp.Resources.Resources.CAThreeSubFour</h6>
            </div>
        </div>
        <div class="card" onmouseover="hoverEffect(this)" onmouseout="normalEffect(this)">
            <img src="~/images/teamWork.png" alt="sample image">
            <div class="overlay-text">@ngwmapp.Resources.Resources.CAFourSub</div>
            <div class="imageInfo">
                <h6>> @ngwmapp.Resources.Resources.CAFourSubOne</h6>
                <h6>> @ngwmapp.Resources.Resources.CAFourSubTwo</h6>
                <h6>> @ngwmapp.Resources.Resources.CAFourSubThree</h6>
                <h6>> @ngwmapp.Resources.Resources.CAFourSubFour</h6>
            </div>
        </div>

    </div>
</div>
<div class="percentageResults">
    <div class="headingText">
        @ngwmapp.Resources.Resources.resultTitle
        <hr>
    </div>
    <div class="resultsWindow">
        <div class="resultDescriptions">
            <div class="percentage">
                <h1>18%</h1>
            </div>
            <h5>@ngwmapp.Resources.Resources.resultOneTitle</h5>
            <p>@ngwmapp.Resources.Resources.resultOneDes</p>
        </div>
        <div class="resultDescriptions">
            <div class="percentage">
                <h1>50%</h1>
            </div>
            <h5>@ngwmapp.Resources.Resources.resultTwoTitle</h5>
            <p>@ngwmapp.Resources.Resources.resultTwoDes</p>
        </div>
        <div class="resultDescriptions">
            <div class="percentage">
                <h1>30%</h1>
            </div>
            <h5>@ngwmapp.Resources.Resources.resultThreeTitle</h5>
            <p>@ngwmapp.Resources.Resources.resultThreeDes</p>
        </div>
        <div class="resultDescriptions">
            <div class="percentage">
                <h1>57%</h1>
            </div>
            <h5>@ngwmapp.Resources.Resources.resultFourTitle</h5>
            <p>@ngwmapp.Resources.Resources.resultFourDes</p>
        </div>
    </div>

</div>

<div class="contentDesc1">
    <div class="textInfo">
        <h2>@ngwmapp.Resources.Resources.contentDescTitle</h2>
        <p>@ngwmapp.Resources.Resources.contentDescDes
        </p>
    </div>
    <div class="imageArea">
        <img src="~/images/powerfulApp.png" alt="image" />
    </div>
</div>
<div class="weldingCC">
    <h2>@ngwmapp.Resources.Resources.weldingTitle</h2>
    <p>@ngwmapp.Resources.Resources.weldingDes</p>
    <div class="weldingCodes">
        <div class="pop-up-on-hover">
            <h1>ASME</h1>
            <span class="popover-text">@ngwmapp.Resources.Resources.weldingCodeOneDes</span>
        </div>
        <div class="pop-up-on-hover">
            <h1>AWS</h1>
            <span class="popover-text">@ngwmapp.Resources.Resources.weldingCodeTwoDes</span>
        </div>
        <div class="pop-up-on-hover">
            <h1 style="margin-left: 1.25rem;">ISO</h1>
            <span class="popover-text">@ngwmapp.Resources.Resources.weldingCodeThreeDes</span>
        </div>
        <div class="pop-up-on-hover">
            <h1>New</h1>
            <span class="popover-text">@ngwmapp.Resources.Resources.weldingCodeFourDes</span>
        </div>
        <div class="pop-up-on-hover">
            <h1>pWPS</h1>
            <span class="popover-text">@ngwmapp.Resources.Resources.weldingCodeFiveDes</span>
        </div>
        <div class="pop-up-on-hover">
            <h1>PQR</h1>
            <span class="popover-text">@ngwmapp.Resources.Resources.weldingCodeSixDes</span>
        </div>
        <div class="pop-up-on-hover">
            <h1>WPS</h1>
            <span class="popover-text">@ngwmapp.Resources.Resources.weldingCodeSevenDes</span>
        </div>
        <div class="pop-up-on-hover">
            <h1>WPQ</h1>
            <span class="popover-text">@ngwmapp.Resources.Resources.weldingCodeEightDes</span>
        </div>
    </div>

</div>
@{
    await Html.RenderPartialAsync("_SolutionDiv");
}
@{
    await Html.RenderPartialAsync("_ContactForm");
}


<script>
    const colors = [
        { bgColor: '#080474', textColor: "#046307" }
    ];

    const percentages = document.querySelectorAll('.resultsWindow .percentage');
    let currentIndex = 0;

    function updateColors() {

        percentages.forEach(percentage => {
            percentage.style.color = '';
        });

        // Apply new styles to current index
        const currentColorScheme = colors[currentIndex % colors.length];
        @* percentages[currentIndex % percentages.length].style.backgroundColor = currentColorScheme.bgColor; *@
            percentages[currentIndex % percentages.length].style.color = currentColorScheme.textColor;

        // Move to the next item
        currentIndex++;
    }

    // Initial call
    updateColors();

    // Continue updating every 5 seconds
    setInterval(updateColors, 5000);

    function hoverEffect(element) {
        element.querySelector('img').style.opacity = "0.1";
    }

    function normalEffect(element) {
        element.querySelector('img').style.opacity = "1";
    }
</script>
